/* Global Styles */
body {
  font-family: 'Roboto', 'Hevetica Neue', sans-serif;
}

h1, h2, h3 {
	font-weight: 100;
}

.uk-panel-title {
  /* text-transform: uppercase; */
  font-weight: 700;
  /* text-align: center; */
  font-size: 1.4em;
}

img {
  background-size: cover;
}

.main-nav {
  background-color: #222;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px 0;
}

.main-nav a,
.main-nav li a {
  color: #fff;
  font-weight: 300;
}
.uk-navbar {
  border-radius: 0;
}
.uk-navbar-nav>li>a {
  text-shadow: none;
}
.uk-navbar-nav>li.uk-active>a {
  background-color: #222;
  color: #2196f3;
}

.main-nav li a:hover {
  color: #2196f3;
  background-color: #222;
}

.uk-nav, .uk-nav-offcanvas {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 90%;
}

.uk-nav-offcanvas>li>a {
  cursor: pointer;
  color: #fff;
}

.uk-nav-offcanvas>li>a:hover {
  color: #2196f3;
}

.tm-button-huge {
  padding: 8px 15px;
  line-height: 36px;
  font-size: 30px;
  font-weight: 100;
}

.uk-overlay-fade {
  opacity: 1;
}

.uk-dotnav>*>* {
  width: 10px;
  height: 10px;
  border: 1px solid #2196f3;
}

.tm-footer {
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 300;
  line-height: 22px;
}

.tm-footer i {
  /* letter-spacing: 10px; */
  padding-left: 15px;
}

.tm-home-slideshow.uk-slideshow-fullscreen{
  max-height: calc(100vh - 62px);
}

/* @media only screen and (max-width: 660) {
  // queries go here
} */

/* @media (min-width: 768px) {
  .uk-block {
    padding-top: 20px;
    padding-bottom: 20px;
  }
} */


/* slidenav arrows */
.uk-slidenav-contrast {
  color: rgba(255,255,255, .9);  
}

.uk-slidenav-contrast:focus,
.uk-slidenav-contrast:hover {
	color: rgba(0,0,0,.1);
	background-color: rgba(255,255,255,.9);
	border-radius: 7px;
}

/* slideshow overlays */
ul.uk-overlay-active h3 {
	font-size: 30px;
	color: #fff;
}
ul.uk-overlay-active p {
	font-size: 16px;
	color: #fff;
}
