/* Global Styles */
body {
  font-family: 'Roboto', 'Hevetica Neue', sans-serif;
}

.main-nav {
  background-color: #222;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px 0;
}

.main-nav a,
.main-nav li a {
  color: #fff;
  font-weight: 300;
}

.uk-navbar-nav>li.uk-active>a {
  background-color: #222;
  color: #2196f3;
}

.main-nav li a:hover {
  color: #2196f3;
  background-color: #222;
}

.uk-nav, .uk-nav-offcanvas {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 90%;
}

.uk-nav-offcanvas>li>a {
  cursor: pointer;
  color: #fff;
}

.uk-nav-offcanvas>li>a:hover {
  color: #2196f3;
}


/* @media only screen and (mxx-width: 660) {
  // queries go here
} */